


#mermaid-1537387603584 .label {
    font-family: 'trebuchet ms', verdana, arial;
    color: #333; }

#mermaid-1537387603584 .node rect,
#mermaid-1537387603584 .node circle,
#mermaid-1537387603584 .node ellipse,
#mermaid-1537387603584 .node polygon {
    fill: #cde498;
    stroke: #13540c;
    stroke-width: 1px; }

#mermaid-1537387603584 .node.clickable {
    cursor: pointer; }

#mermaid-1537387603584 .arrowheadPath {
    fill: green; }

#mermaid-1537387603584 .edgePath .path {
    stroke: green;
    stroke-width: 1.5px; }

#mermaid-1537387603584 .edgeLabel {
    background-color: #e8e8e8; }

#mermaid-1537387603584 .cluster rect {
    fill: #cdffb2 !important;
    stroke: #6eaa49 !important;
    stroke-width: 1px !important; }

#mermaid-1537387603584 .cluster text {
    fill: #333; }

#mermaid-1537387603584 div.mermaidTooltip {
    position: absolute;
    text-align: center;
    max-width: 200px;
    padding: 2px;
    font-family: 'trebuchet ms', verdana, arial;
    font-size: 12px;
    background: #cdffb2;
    border: 1px solid #6eaa49;
    border-radius: 2px;
    pointer-events: none;
    z-index: 100; }

#mermaid-1537387603584 .actor {
    stroke: #13540c;
    fill: #cde498; }

#mermaid-1537387603584 text.actor {
    fill: black;
    stroke: none; }

#mermaid-1537387603584 .actor-line {
    stroke: grey; }

#mermaid-1537387603584 .messageLine0 {
    stroke-width: 1.5;
    stroke-dasharray: '2 2';
    marker-end: 'url(#arrowhead)';
    stroke: #333; }

#mermaid-1537387603584 .messageLine1 {
    stroke-width: 1.5;
    stroke-dasharray: '2 2';
    stroke: #333; }

#mermaid-1537387603584 #arrowhead {
    fill: #333; }

#mermaid-1537387603584 #crosshead path {
    fill: #333 !important;
    stroke: #333 !important; }

#mermaid-1537387603584 .messageText {
    fill: #333;
    stroke: none; }

#mermaid-1537387603584 .labelBox {
    stroke: #326932;
    fill: #cde498; }

#mermaid-1537387603584 .labelText {
    fill: black;
    stroke: none; }

#mermaid-1537387603584 .loopText {
    fill: black;
    stroke: none; }

#mermaid-1537387603584 .loopLine {
    stroke-width: 2;
    stroke-dasharray: '2 2';
    marker-end: 'url(#arrowhead)';
    stroke: #326932; }

#mermaid-1537387603584 .note {
    stroke: #6eaa49;
    fill: #fff5ad; }

#mermaid-1537387603584 .noteText {
    fill: black;
    stroke: none;
    font-family: 'trebuchet ms', verdana, arial;
    font-size: 14px; }


#mermaid-1537387603584 .section {
    stroke: none;
    opacity: 0.2; }

#mermaid-1537387603584 .section0 {
    fill: #6eaa49; }

#mermaid-1537387603584 .section2 {
    fill: #6eaa49; }

#mermaid-1537387603584 .section1,
#mermaid-1537387603584 .section3 {
    fill: white;
    opacity: 0.2; }

#mermaid-1537387603584 .sectionTitle0 {
    fill: #333; }

#mermaid-1537387603584 .sectionTitle1 {
    fill: #333; }

#mermaid-1537387603584 .sectionTitle2 {
    fill: #333; }

#mermaid-1537387603584 .sectionTitle3 {
    fill: #333; }

#mermaid-1537387603584 .sectionTitle {
    text-anchor: start;
    font-size: 11px;
    text-height: 14px; }


#mermaid-1537387603584 .grid .tick {
    stroke: lightgrey;
    opacity: 0.3;
    shape-rendering: crispEdges; }

#mermaid-1537387603584 .grid path {
    stroke-width: 0; }


#mermaid-1537387603584 .today {
    fill: none;
    stroke: red;
    stroke-width: 2px; }



#mermaid-1537387603584 .task {
    stroke-width: 2; }

#mermaid-1537387603584 .taskText {
    text-anchor: middle;
    font-size: 11px; }

#mermaid-1537387603584 .taskTextOutsideRight {
    fill: black;
    text-anchor: start;
    font-size: 11px; }

#mermaid-1537387603584 .taskTextOutsideLeft {
    fill: black;
    text-anchor: end;
    font-size: 11px; }


#mermaid-1537387603584 .taskText0,
#mermaid-1537387603584 .taskText1,
#mermaid-1537387603584 .taskText2,
#mermaid-1537387603584 .taskText3 {
    fill: white; }

#mermaid-1537387603584 .task0,
#mermaid-1537387603584 .task1,
#mermaid-1537387603584 .task2,
#mermaid-1537387603584 .task3 {
    fill: #487e3a;
    stroke: #13540c; }

#mermaid-1537387603584 .taskTextOutside0,
#mermaid-1537387603584 .taskTextOutside2 {
    fill: black; }

#mermaid-1537387603584 .taskTextOutside1,
#mermaid-1537387603584 .taskTextOutside3 {
    fill: black; }


#mermaid-1537387603584 .active0,
#mermaid-1537387603584 .active1,
#mermaid-1537387603584 .active2,
#mermaid-1537387603584 .active3 {
    fill: #cde498;
    stroke: #13540c; }

#mermaid-1537387603584 .activeText0,
#mermaid-1537387603584 .activeText1,
#mermaid-1537387603584 .activeText2,
#mermaid-1537387603584 .activeText3 {
    fill: black !important; }


#mermaid-1537387603584 .done0,
#mermaid-1537387603584 .done1,
#mermaid-1537387603584 .done2,
#mermaid-1537387603584 .done3 {
    stroke: grey;
    fill: lightgrey;
    stroke-width: 2; }

#mermaid-1537387603584 .doneText0,
#mermaid-1537387603584 .doneText1,
#mermaid-1537387603584 .doneText2,
#mermaid-1537387603584 .doneText3 {
    fill: black !important; }


#mermaid-1537387603584 .crit0,
#mermaid-1537387603584 .crit1,
#mermaid-1537387603584 .crit2,
#mermaid-1537387603584 .crit3 {
    stroke: #ff8888;
    fill: red;
    stroke-width: 2; }

#mermaid-1537387603584 .activeCrit0,
#mermaid-1537387603584 .activeCrit1,
#mermaid-1537387603584 .activeCrit2,
#mermaid-1537387603584 .activeCrit3 {
    stroke: #ff8888;
    fill: #cde498;
    stroke-width: 2; }

#mermaid-1537387603584 .doneCrit0,
#mermaid-1537387603584 .doneCrit1,
#mermaid-1537387603584 .doneCrit2,
#mermaid-1537387603584 .doneCrit3 {
    stroke: #ff8888;
    fill: lightgrey;
    stroke-width: 2;
    cursor: pointer;
    shape-rendering: crispEdges; }

#mermaid-1537387603584 .doneCritText0,
#mermaid-1537387603584 .doneCritText1,
#mermaid-1537387603584 .doneCritText2,
#mermaid-1537387603584 .doneCritText3 {
    fill: black !important; }

#mermaid-1537387603584 .activeCritText0,
#mermaid-1537387603584 .activeCritText1,
#mermaid-1537387603584 .activeCritText2,
#mermaid-1537387603584 .activeCritText3 {
    fill: black !important; }

#mermaid-1537387603584 .titleText {
    text-anchor: middle;
    font-size: 18px;
    fill: black; }

#mermaid-1537387603584 g.classGroup text {
    fill: #13540c;
    stroke: none;
    font-family: 'trebuchet ms', verdana, arial;
    font-size: 10px; }

#mermaid-1537387603584 g.classGroup rect {
    fill: #cde498;
    stroke: #13540c; }

#mermaid-1537387603584 g.classGroup line {
    stroke: #13540c;
    stroke-width: 1; }

#mermaid-1537387603584 .classLabel .box {
    stroke: none;
    stroke-width: 0;
    fill: #cde498;
    opacity: 0.5; }

#mermaid-1537387603584 .classLabel .label {
    fill: #13540c;
    font-size: 10px; }

#mermaid-1537387603584 .relation {
    stroke: #13540c;
    stroke-width: 1;
    fill: none; }

#mermaid-1537387603584 #compositionStart {
    fill: #13540c;
    stroke: #13540c;
    stroke-width: 1; }

#mermaid-1537387603584 #compositionEnd {
    fill: #13540c;
    stroke: #13540c;
    stroke-width: 1; }

#mermaid-1537387603584 #aggregationStart {
    fill: #cde498;
    stroke: #13540c;
    stroke-width: 1; }

#mermaid-1537387603584 #aggregationEnd {
    fill: #cde498;
    stroke: #13540c;
    stroke-width: 1; }

#mermaid-1537387603584 #dependencyStart {
    fill: #13540c;
    stroke: #13540c;
    stroke-width: 1; }

#mermaid-1537387603584 #dependencyEnd {
    fill: #13540c;
    stroke: #13540c;
    stroke-width: 1; }

#mermaid-1537387603584 #extensionStart {
    fill: #13540c;
    stroke: #13540c;
    stroke-width: 1; }

#mermaid-1537387603584 #extensionEnd {
    fill: #13540c;
    stroke: #13540c;
    stroke-width: 1; }

#mermaid-1537387603584 .commit-id,
#mermaid-1537387603584 .commit-msg,
#mermaid-1537387603584 .branch-label {
    fill: lightgrey;
    color: lightgrey; }
