<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="<%= "#{MermaidHtml.css_folder}/mermaid.css" %>">
  <link rel="stylesheet" href="<%= "#{MermaidHtml.css_folder}/mermaid-font.css" %>">
</head>
<body>
<div class="mermaid">
  <%= @schema %>
</div>
<script src="<%= "#{MermaidHtml.js_folder}/mermaid.js" %>"></script>
<script>mermaid.initialize({startOnLoad:true});</script>
</body>
</html>